{% extends "base.html" %}
{% load static %}


{% block page_title %}
{{ month_name | title}}
{% endblock %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge_page.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}

<h1>This is {{ month_name | title }} CHALLENGE: </h1>
        {% if text is not none %}
        <h2>{{ text }}</h2> <!-- INJECTION OF DICTIONARY KEYS -->
        {% else %}
        <p>There is no challenge for this month</p>
    {% endif %}
{% endblock %}



{#TIPS: USE FILTERS DROM DJANGO TEMPLATES TO APPLY FORMATING#}