{% extends 'base.html' %} {# meke sure you define: BASE_DIR / "templates" on settings.py #}
{% load static %}  {# only plugin #}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}


{% block page_title %} All challenges CHECK  {% endblock %}

{% block content %}
        {% include "challenges/includes/header.html" %}
    <ul>
        {% for month in months %} <!-- -->
        <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li> <!-- INJECTION OF DICTIONARY KEYS -->
        {% endfor %}
    </ul>
{% endblock %}




{#TIPS: USE FILTERS DROM DJANGO TEMPLATES TO APPLY FORMATING#}