<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> ALL CHALLENGES </title>
</head>
<body>
    <ul>
        {% for month in months %} <!-- -->
        <li><a href="/challanges/{{ month }}">{{ month|title }}</a></li> <!-- INJECTION OF DICTIONARY KEYS -->
        {% endfor %}
    </ul>
</body>
</html>


{#TIPS: USE FILTERS DROM DJANGO TEMPLATES TO APPLY FORMATING#}